@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@font-face {
  font-family: r;
  src: url('./RifficFree-Bold.ttf');
}

.r {
  font-family: r !important;
}

html,
body {
  margin-top: 3rem !important;
}







.hero_card {
  background: #202938 !important;
  border-radius: 2px !important;
}

.hero_btn {
  background: #b8bdc4 !important;
  border: none !important;
}

.navbar-item:hover {
  color: #111828 !important;
}

.wavy {
  text-decoration-style: wavy !important;
  text-decoration-line: underline;
}

.intro_hero.introduction {

  color: #B1D4E0 !important;
}

.about_hero.about {
  color: #B1D4E0 !important;
}

.project_hero.project {
  color: #B1D4E0 !important;
}

.contact_hero.contact {
  color: #B1D4E0 !important;
}

.navbar {
  border-bottom: 2px solid #B1D4E0;
}

.navbar-item:active {
  background: none !important;
  color: inherit;
}

.tag {
  background: #202938 !important;
  color: #e5e7ea !important;

  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.he::after {
  content: "";
  display: block;
  width: 40px;
  padding-top: 3px;
  border-bottom: 4px solid #B1D4E0;
}

#project-container {
  transition: 1s ease-in-out;
}

@media screen and (min-width: 768px) {
  .is-0 {
    font-size: 6rem !important;
  }
}

.input{
  background: transparent !important;
}
input::placeholder{
  color: #fff !important;
}


.textarea{
  background: transparent !important;
}
textarea::placeholder{
  color: #fff !important;
}
input:focus{
  box-shadow:none !important;
  border-color: #0ff !important;
}
textarea:focus{
  box-shadow:none !important;
  border-color: #0ff !important;
}
.footer{
  background: #1b242f !important;
}