@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
html , body{
    background: #111828 !important;
    margin-top: 3rem !important;
}
.navbar{
    background: rgba( 17, 24, 40, 0.6 ) !important;
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );


}



.w{
    color: white !important;
}



.hero_card{
    background: #202938 !important;
    border-radius: 2px !important;
}

.hero_btn{
    background: #e5e7ea !important;
     border: none !important;
}

.navbar-item:hover{
    color: #111828 !important;
}
.wavy{
 text-decoration-style: wavy !important;
 text-decoration-line:underline;
}

.intro_hero.introduction{
    
    color: #ec478b !important;
}

.about_hero.about{
    color: #ec478b !important;
}

.project_hero.project{
    color: #ec478b !important;
}

.contact_hero.contact{
    color: #ec478b !important;
}
.navbar-item:active{
    background: none !important;
    color: inherit;
}
.tag{
    background: #202938 !important;
    color: #e5e7ea !important;
    margin-left: 10px;
    margin-top: 10px;
}