{{yield}}

<div class='section' id='about'>
  <h1 class='title is-size-3 w pop g underline' data-aos='fade-up'>
    About
  </h1>

  <div class='containers'>

    <div class='thumbnail'>
      <div class='mt-4'>
        <p class='subtitle is-size-4 w pop ml-2' data-aos='fade-right'>
          <span class='has-text-light g'>Me:</span>
          I am an Indian <span class="lee">full-stack developer</span> who self-taught myself. I enjoy
          <span class="lee">developing</span> fully responsive websites with excellent UI and UX. I will
          make sure that the clients' needs and wants are met when I am creating
          a product.
        </p>
      </div>
    </div>
    <div class='thumbnail'>
      <div class='mt-4'>
        <p class='subtitle is-size-4 w pop ml-2' data-aos='fade-left'>
          <span class='has-text-light g'>Story:</span>
          I was much <span class="lee">motivated</span> when I came upon a website with several
          animations and striking colours approximately three years ago. Later,
          I picked up a few <span class="lee">JavaScript</span> technologies.
        </p>
        <p class='subtitle is-size-4 w pop ml-2' data-aos='fade-left'>
          I questioned how these things were made and how they operate. I so
          began my study of HTML and CSS's fundamentals. To understand web
          design, I created some simple user interfaces and copied well-known
          websites. Then I advanced to advanced JS topics after learning the
          fundamentals of JavaScript.
        </p>
        <p class='subtitle is-size-4 w pop ml-2' data-aos='fade-left'>When I was
          confident using JS, I moved on to learning Node.JS and eventually
          Express. I created an e - commerce web app with Javascript and
          handlebars & MongoDb, and after doing so, I felt quite proud of
          myself.
        </p>
      </div>
    </div>

  </div>

</div>