{{yield}}

<div class='section is-medium' id='about'>
  <h1 class='title is-size-1 w pop'>
    About
  </h1>
  <p class='subtitle mt-4 w pop'>
    I am a self-taught full-stack developer from India. I like to build fully
    responsive websites with high-quality UI and UX. When I am building a
    product I will make sure that the customers get satisfied with their needs
    and want.
  </p>
  <p class='subtitle mt-4 w pop'>
    Time back almost 3 years ago when I saw a website with several animations
    and eye-catching colours that website inspired me so much. I wondered how
    these things were built how it works. So I started learning the basics of
    HTML and CSS. I built some basic UI and cloned some famous websites to learn
    web design. Then I moved into JavaScript learned the basics of it and moved
    to advance JS concepts. After I felt comfortable with JS I started learning
    Node.JS then Express.Js with handlebars and MongoDb I built an eCommerce web
    app after building that I felt so Proud of myself. Then I learned several
    JavaScript technologies. And now I can proudly say that I am a full stack
    developer. My job is converting normal users into engaged customers
  </p>

  <h1 class='title w mt-6 is-size-1 pop '>
    Languages and tools
  </h1>
  <div class='columns is-multiline  mt-4'>
    <div class='tag is-medium pop column'>
      HTML 5
    </div>
    <div class='tag is-medium pop column'>
      CSS 3
    </div>

    <div class='tag is-medium pop column'>
      JavaScript
    </div>

    <div class='tag is-medium pop column'>
      Ember.Js
    </div>

    <div class='tag is-medium pop column'>
      React.Js
    </div>
    <div class='tag is-medium pop column'>
      Next.Js
    </div>
    <div class='tag is-medium pop column'>
      Redux
    </div>
    <div class='tag is-medium pop column'>
      Node.Js
    </div>
    <div class='tag is-medium pop column'>
      Express.Js
    </div>

    <div class='tag is-medium pop column'>
      MongoDb
    </div>

    <div class='tag is-medium pop column'>
      PHP
    </div>

    <div class='tag is-medium pop column'>
      MySql
    </div>
    <div class='tag is-medium pop column'>
      Bootstrap
    </div>
    <div class='tag is-medium pop column'>
      Bulma
    </div>
    <div class='tag is-medium pop column'>
      Jquery
    </div>

    <div class='tag is-medium pop column'>
     Git
    </div>

    <div class='tag is-medium pop column'>
      Git-Hub
    </div>
  </div>

</div>