{{yield}}

<div class="section is-medium" id="about">
    <p class="subtitle">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam rerum harum maxime laudantium praesentium quae non temporibus nobis? Ab, architecto cupiditate officia sed cum dolores qui a repellat labore dignissimos!
</p>
</div>