{{yield}}

<div class='section mt-6' id='about'>
  <h1 class='title is-size-3 w pop '>
    About
  </h1>
  <p class='subtitle mt-4 w pop'>
    I am a self-taught full-stack developer from India. I like to build fully
    responsive websites with high-quality UI and UX. When I am building a
    product I will make sure that the customers get satisfied with their needs
    and want.
  </p>
  <p class='subtitle mt-4 w pop'>
    Time back almost 3 years ago when I saw a website with several animations
    and eye-catching colours that website inspired me so much. I wondered how
    these things were built how it works. So I started learning the basics of
    HTML and CSS. I built some basic UI and cloned some famous websites to learn
    web design. Then I moved into JavaScript learned the basics of it and moved
    to advance JS concepts. After I felt comfortable with JS I started learning
    Node.JS then Express.Js with handlebars and MongoDb I built an eCommerce web
    app after building that I felt so Proud of myself. Then I learned several
    JavaScript technologies. And now I can proudly say that I am a full stack
    developer. My job is converting normal users into engaged customers
  </p>

  <h1 class='title w mt-6 is-size-3 pop'>
    Experience With
  </h1>
  <div class='columns'>

    <div class='column'>
      <h1 class='has-text-white title is-size-6'>LANGUAGES</h1>
      <ul>
        <li class='has-text-white'>HTML5</li>
        <li class='has-text-white'>CSS3 & Sass</li>
        <li class='has-text-white'>JavaScript (ES6)</li>
        <li class='has-text-white'>PHP</li>
        <li class='has-text-white'>SQL</li>
        <li class='has-text-white'>C#</li>
      </ul>
    </div>

    <div class='column'>
      <h1 class='has-text-white title is-size-6'>FRAMEWORKS</h1>
      <ul>
        <li class='has-text-white'>Ember</li>
        <li class='has-text-white'>React</li>
        <li class='has-text-white'>Next</li>
        <li class='has-text-white'>Node</li>
        <li class='has-text-white'>Express</li>

      </ul>
    </div>

    <div class='column'>
      <h1 class='has-text-white title is-size-6'>DESIGN</h1>
      <ul>
        <li class='has-text-white'>Illustrator</li>
        <li class='has-text-white'>PhotoShop</li>
        <li class='has-text-white'>Flash</li>
        <li class='has-text-white'>DreamWaver</li>
        <li class='has-text-white'>Figma</li>
        <li class='has-text-white'>Adobe XD</li>

      </ul>
    </div>

    <div class='column'>
      <h1 class='has-text-white title is-size-6'>TOOLS</h1>
      <ul>
        <li class='has-text-white'>GIT</li>
        <li class='has-text-white'>GIThub</li>
        <li class='has-text-white'>DevTools</li>
        <li class='has-text-white'>Postman</li>
        <li class='has-text-white'>MongoDB</li>
        <li class='has-text-white'>Supabase</li>
        <li class='has-text-white'>Firebase</li>
      </ul>
    </div>

  </div>

</div>