{{yield}}



<div class='section is-medium' id='contact'>
  
  <div class="columns">
      <div class="column">
        <h1 class="title is-size-3 has-text-danger-light">Contact Me</h1>
         <p class="subtitle">
          Contact me i will respond within 24 hours.
         </p>
      </div>
  </div>

</div>