{{yield}}

<div class='section is-medium' id='contact'>
  <h1 class='title is-size-3  has-text-centered'>Contact me</h1>

  <div class='is-flex is-justify-content-center'>
    <form action='https://formsubmit.co/devathulvinod@email.com' method="post">
      <input
        type='text'
        data-aos='fade-right'
        class='input mt-2'
        name="name"
        placeholder='Your name'
      />
      <input
        type='email'
        data-aos='fade-right'
        class='input mt-2'
        name="email"
        placeholder='Your email'
      />
      <textarea
        data-aos='fade-right'
        name='message'
        cols='30'
        class='textarea mt-2'
        rows='10'
        placeholder='Your message'
      ></textarea>
      <button
        class='button is-light is-rounded has-text-weight-bold hvr-bounce-in mt-2'
        type='submit'
      >Submit</button>
    </form>
  </div>

  <h1 class='title mt-6 is-size-3 has-text-centered' data-aos="fade-right">Or
    use email</h1>

  <div class='is-flex is-justify-content-center'>
    <a
      href='mailto:devathulvinod@gmail.com'
      class='button is-light hvr-wobble-top'
    >
      <span class='icon'>
        <i class='fa fa-paper-plane' aria-hidden='true'></i>
      </span>
      <span>Say Hi</span>
    </a>
  </div>

</div>