{{yield}}

<div class="footer">
    <h1 class=" has-text-centered has-text-white">Athul Vinod &copy;2022</h1>
    <h1 class=" has-text-centered has-text-white mt-4">Made With</h1>
    <div class="is-flex is-justify-content-center mt-4">
        <figure class="image is-128x128"><img src="https://emberjs.com/images/brand/ember-tomster-lockup-4c.svg"  alt="ember" ></figure>
        <figure  class="image is-128x128 mt-6"><img src="https://bulma.io/assets/Bulma%20Wordmark%20White.svg" alt="bulma" ></figure>
    </div>
</div>