{{yield}}

<div class="footer">
    <h1 class=" has-text-centered has-text-light">Athul Vinod &copy;2022</h1>
    <h1 class=" has-text-centered  mt-4 has-text-light">Made With</h1>
    <div class="has-text-centered mt-2">
        <a href="https://emberjs.com/" target="_blank">Ember JS</a> - <a href="https://bulma.io/" target="_blank">Bulma CSS</a>
    </div>
   
</div>