{{yield}}

<div class='section container is-medium' id='introduction'>

  <h1 class='title r white is-0 g glitch' data-aos='fade-right'>
    Not an average developer
  </h1>

  <p class='title ml-2 is-size-2' data-aos='fade-right'>
    Hello, my name is <i>Athul Vinod</i>, and I make <span class="lee">websites</span>. I can turn the concepts in your head into top-notch <span class="lee">
      online applications
    </span>.
  </p>

  <a
    href='#contact'
    class='button is-light mt-5 is-medium has-text-weight-bold hvr-bounce-in is-rounded cartoon'
  >Hire Me</a>
</div>
