{{yield}}

<div class='section ' id='introduction'>
   
   <div class="columns">
    <div class="column ">
      <h1 class="title is-size-4 has-text-white">
        HI MY NAME ATHUL VINOD
      </h1>
      <h1 class="title  r white is-0" style="color:#0ff ;">
    Full Stack Developer
   </h1>
   <p class="subtitle has-text-white">
    I design and build websites. I will convert ideas from your mind to
    to notch web applications.
   </p>
   <a href="#contact" class="button is-light is-medium is-rounded has-text-weight-bold hvr-bounce-in">Hire Me</a>
    </div>
    <div class="column is-hidden-mobile">
      <div class="is-flex is-justify-content-center">
        <img src="https://i.pinimg.com/originals/8e/4a/69/8e4a6975761f2320bb05e9e67bbfcdc9.gif" alt="">
      </div>
    </div>
   </div>

  </div>
