{{yield}}

<div class='section ' id='introduction'>
   
   <div class="columns">
    <div class="column is-7">
      <h1 class="title is-size-4 has-text-white">
        HI MY NAME ATHUL VINOD
      </h1>
      <h1 class="title  r white is-0" style="color:#0ff ;">
    Full Stack Developer
   </h1>
   <p class="subtitle has-text-white">
    I will convert your ideas form your mind to a top notch web application.
    Thats my offer.
   </p>
   <a href="" class="button is-light is-medium is-rounded has-text-weight-bold hvr-bounce-in">Hire Me</a>
    </div>
    <div class="column"></div>
   </div>

  </div>
