{{yield}}

<div class='section ' id='introduction'>
  <div class='columns'>
    <div class='column'>
      <h1 class='title g is-size-1 w pop has-text-weight-bold'>
        Hello , I am
      </h1>
      <h1 class='title g is-size-1 w pop has-text-weight-bold' >
        Athul Vinod.
      </h1>
      <p class='subtitle mt-1 w pop'>
        Hello, my name is athul vinod. I am a full stack developer coming from
        India.
      </p>
      <a href='#contact' class='button is-medium hvr-bounce-in hero_btn pop is-rounded'>
        Get in touch
      </a>
    </div>

    <div class='column'>
      <div class='card p-4 hero_card is-radiusless is-shadowless'>
        <div class='card-header is-shadowless mb-0'>
          <div class='card-header-title'>
            <h1 class='title pop is-size-5 w wavy'>
              Front-end developer
            </h1>
          </div>

        </div>

        <div class='card-content w pop is-size-5'>

          I like to craft top-notch front applications. That turns a regular
          user into an engaged customer

        </div>

      </div>

      <div class='card p-4 mt-3 hero_card is-radiusless is-shadowless'>
        <div class='card-header is-shadowless'>
          <div class='card-header-title'>
            <h1 class='title pop is-size-5 w wavy'>
              Back-end developer
            </h1>
          </div>
        </div>

        <div class='card-content w pop is-size-5'>
          Building the back-end is like magic. When I am building back-end
          applications, I choose the right tools at the right time to apply the
          magic.
        </div>
      </div>
    </div>

  </div>
</div>