{{yield}}

<div class='navbar is-spaced'>
  <div class='navbar-start'>

    <a href='#introduction' class='navbar-item pop w hvr-rotate' >
      Introduction
    </a>

    <a class='navbar-item w pop w hvr-rotate'>
      About
    </a>

    <a class='navbar-item w pop w hvr-rotate'>
      Projects
    </a>

    <a href='' class='navbar-item w pop hvr-rotate'>
      Contact
    </a>

  </div>

  <div class='navbar-end'>
    <a href='' class='navbar-item w hvr-rotate'>

      <i class="fab fa-github fa-2x"></i>

    </a>
    <a href="" class="navbar-item w hvr-rotate">
        <i class="fab fa-linkedin fa-2x"></i>
    </a>
  </div>
</div>