{{yield}}

<div class='section' >
  <h1 class='title w mt-6 is-size-3 pop g underline' >
    Skills
  </h1>

  <div class='columns is-multiline'>
    {{#each this.skillsComponent as |e|}}
      <div class='column' data-aos='fade-right'>
        <div class='tag faith_seed is-size-3 is-rounded is-large' style="background:{{e.color}} !important">
          {{e.name}}
        </div>
      </div>
    {{/each}}
  </div>

</div>