{{yield}}

<div class='section mt-6'>
  <h1 class='title w mt-6 is-size-3 pop' data-aos="fade-right">
    Skills
  </h1>
  <div class='columns'>

    <div class='column' data-aos="fade-right">
      <h1 class=' title is-size-6'>LANGUAGES</h1>
      <ul >
        <li class='' >HTML5</li>
        <li class=''>CSS3 & Sass</li>
        <li class=''>JavaScript (ES6)</li>
        <li class=''>PHP</li>
        <li class=''>SQL</li>
        <li class=''>C#</li>
      </ul>
    </div>

    <div class='column' data-aos="fade-up">
      <h1 class=' title is-size-6'>FRAMEWORKS</h1>
      <ul>
        <li class=''>Ember</li>
        <li class=''>React</li>
        <li class=''>Next</li>
        <li class=''>Node</li>
        <li class=''>Express</li>

      </ul>
    </div>

    <div class='column' data-aos="fade-down"> 
      <h1 class=' title is-size-6'>DESIGN</h1>
      <ul>
        <li class=''>Illustrator</li>
        <li class=''>PhotoShop</li>
        <li class=''>Flash</li>
        <li class=''>DreamWaver</li>
        <li class=''>Figma</li>
        <li class=''>Adobe XD</li>

      </ul>
    </div>

    <div class='column' data-aos="fade-left">
      <h1 class=' title is-size-6'>TOOLS</h1>
      <ul>
        <li class=''>GIT</li>
        <li class=''>GIThub</li>
        <li class=''>DevTools</li>
        <li class=''>Postman</li>
        <li class=''>MongoDB</li>
        <li class=''>Supabase</li>
        <li class=''>Firebase</li>
      </ul>
    </div>

  </div>
</div>