{{yield}}

<div class='section mt-6'>
  <h1 class='title w mt-6 is-size-3 pop' data-aos="fade-right">
    Skills
  </h1>
  <div class='columns'>

    <div class='column' data-aos="fade-right">
      <h1 class='has-text-white title is-size-6'>LANGUAGES</h1>
      <ul >
        <li class='has-text-white' >HTML5</li>
        <li class='has-text-white'>CSS3 & Sass</li>
        <li class='has-text-white'>JavaScript (ES6)</li>
        <li class='has-text-white'>PHP</li>
        <li class='has-text-white'>SQL</li>
        <li class='has-text-white'>C#</li>
      </ul>
    </div>

    <div class='column' data-aos="fade-up">
      <h1 class='has-text-white title is-size-6'>FRAMEWORKS</h1>
      <ul>
        <li class='has-text-white'>Ember</li>
        <li class='has-text-white'>React</li>
        <li class='has-text-white'>Next</li>
        <li class='has-text-white'>Node</li>
        <li class='has-text-white'>Express</li>

      </ul>
    </div>

    <div class='column' data-aos="fade-down"> 
      <h1 class='has-text-white title is-size-6'>DESIGN</h1>
      <ul>
        <li class='has-text-white'>Illustrator</li>
        <li class='has-text-white'>PhotoShop</li>
        <li class='has-text-white'>Flash</li>
        <li class='has-text-white'>DreamWaver</li>
        <li class='has-text-white'>Figma</li>
        <li class='has-text-white'>Adobe XD</li>

      </ul>
    </div>

    <div class='column' data-aos="fade-left">
      <h1 class='has-text-white title is-size-6'>TOOLS</h1>
      <ul>
        <li class='has-text-white'>GIT</li>
        <li class='has-text-white'>GIThub</li>
        <li class='has-text-white'>DevTools</li>
        <li class='has-text-white'>Postman</li>
        <li class='has-text-white'>MongoDB</li>
        <li class='has-text-white'>Supabase</li>
        <li class='has-text-white'>Firebase</li>
      </ul>
    </div>

  </div>
</div>