{{page-title '1'}}
{{outlet}}

<div class='section'>
  <div class='b'>
    <LinkTo
      class='button is-light is-rounded is-medium hvr-bounce-in'
      @route='index'
    >
      <span class='icon'>
        <i class='fa fa-arrow-circle-left' aria-hidden='true'></i>
      </span>
      <span>Go Back</span>
    </LinkTo>
  </div>

  <div class='columns mt-5'>
    <div class='column'>
      <div>
        <h1 class='title has-text-white has-text-weight-bold'>
          Stack OverFlow Clone
        </h1>
        <p class='subtitle has-text-white'>
          So everyone knows what stack overflow is the world famous Q/A website.
          Every developer has opened atleast one tab of stack overflow.
        </p>

        <p class='subtitle has-text-white'>
          So I decided to create a clone of stack overflow. So i choose react
          for the frontend, node and express for backend and mongoDB for
          database.

        </p>

        <p class='subtitle has-text-white'>
          The purpose of this application is simple. Anyone can create an
          account on this platform. Ask questions about programming and add
          different tags to it. If a question is solid and unique, others users
          can upvote for it, otherwise they can downvote.
        </p>
      <h1 class="is-size-4 has-text-white has-text-weight-bold">
        Tools used
      </h1>
      </div>
    </div>
    <div class='column'>

    </div>
  </div>
</div>