{{page-title 'Stack Overflow Clone'}}
{{outlet}}

<div class='section'>
  <div class='columns'>
    <div class='column is-8-desktop'>
      <LinkTo
        class='button hvr-bounce-in hero_btn pop is-rounded mb-4'
        @route='index'
      >
        <span class='icon'>
          <i class='fas fa-arrow-left'></i>
        </span>
        <span>Go Back</span>
      </LinkTo>
      <h1 class='title g is-size-1 w pop has-text-weight-bold'>
        Stack Overflow Clone
      </h1>
      <p class='subtitle mt-2 w'>
        This is a clone web application of a famous Q/A website stack overflow.
        Built with MERN stack
      </p>
      <h1 class='title g mt-4 is-size-4 w pop has-text-weight-bold'>
        Tools Used
      </h1>
      <div class='tag is-medium'>
        React Js
      </div>
      <div class='tag is-medium'>
        Bulma Css
      </div>
      <div class='tag is-medium'>
        Wouter
      </div>
      <div class='tag is-medium'>
        React Redux
      </div>
      <div class='tag is-medium'>
        Formik + Yup
      </div>
      <div class='tag is-medium'>
        MongoDB
      </div>
      <div class='tag is-medium'>
        Node Js
      </div>
      <div class='tag is-medium'>
        Express Js
      </div>

      <div class='tag is-medium'>
        Mongoose
      </div>

      
    </div>
    <div class='column'>
      <div class='card p-4 hero_card is-radiusless is-shadowless'>
        <div class='card-header is-shadowless mb-0'>
          <div class='card-header-title'>
            <h1 class='title pop is-size-5 w wavy ml-2'>
              Details
            </h1>
          </div>

        </div>

        <div class='card-content'>
          <h1 class='title pop is-size-6 w'>
            Name:
            <span class='ml-2'>Stack Overflow Clone</span>
          </h1>
          <h1 class='title pop is-size-6 w'>
            Type:
            <span class='ml-2'>Full Stack</span>
          </h1>

          <h1 class='title pop is-size-6 w'>
            Repository Link:
            <span class='ml-2 wavy'>
              <a
                href='https://stackoverflows-clone.herokuapp.com/'
                target='_blank'
              >Github</a>
            </span>
          </h1>

          <h1 class='title pop is-size-6 w'>
            Live Demo:
            <span class='ml-2 wavy'>
              <a
                href='https://stackoverflows-clone.herokuapp.com/'
                target='_blank'
              >Live</a>
            </span>
          </h1>

        </div>

      </div>
    </div>
  </div>
<img src="https://camo.githubusercontent.com/23065d817c377cb163f5caaa7995578e364a7c75adaeef00314e29425451caa4/68747470733a2f2f692e706f7374696d672e63632f38433276317767682f53637265656e73686f742e706e67" alt="image" class="mt-4">
</div>